/* Footer */
.footer-container {
  position: fixed;
  left: 0;
  height: 5rem;
  bottom: 0;
  width: 100%;
  background-color: var(--light);
  color: black;
  text-align: center;
}

.footer-dev-links-container {
  display: flex;
  justify-content: space-around;
}

.footer-dev-info {
  display: inline-block;
  padding: 1px;
  font-weight: 600;
}

.dev-link {
  height: 2px;
  transition: 325ms;
}
.dev-link:hover {
  transform: scale(1.25);
}
