// Header

// Variables
$bg: #393939;
$bg-hover: #272727;
$lt-blue: rgb(128, 197, 220);
$reg-blue: rgb(52, 132, 238);


.header-container {
  background-color: $bg;
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
  display: grid;
  grid-template-columns: 215px 1fr 200px;
  grid-column-gap: 20px;
}

.header-logo {
  display: inline-block;
  padding: 0px 15px;
  height: 50px;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  transition: 325ms;
}
.header-logo:hover {
  background-color: $bg-hover;
}
.header-icon {
  margin-top: 10px;
  display: inline-block;
}
.header-logo-letters {
  display: inline-block;
  padding-left: 5px;
  padding-top: 10px;
  font-size: 1.2rem;
  font-weight: 300;
}
.header-logo-letters-overclone {
  font-weight: bold;
  display: inline-block;
  margin-left: 2px;
}

.header-search-bar {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 9px;
  border-radius: 3px;
  width: 100%;
  border: 1px solid #777;
  padding: 8px 10px;
  background: rgba(0,0,0,.1);
  color: white;
}

.header-buttons-div {
  padding-left: 2px;
  padding-right: 8px;
}

.header-button-left {
  margin-top: 10px;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  width: 50px;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  box-shadow: inset 0 0.5px 0 0 white;
  background-color: rgb(211, 232, 239);
  border-color: rgb(52, 132, 238);
  color: rgb(26, 99, 194);
  transition: 325ms;
}
.header-button-left:hover {
  background: rgb(128, 197, 220);
  color: rgb(26, 99, 194);
}

.header-button-right {
  margin-top: 10px;
  margin-right: 20px;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  width: 50px;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  box-shadow: inset 0 0.5px 0 0 white;
  background-color: rgb(52, 132, 238);
  border-color: rgb(128, 197, 220);
  color: white;
  transition: 325ms;
}
.header-button-right:hover {
  background: rgb(21, 82, 161);
}



.header-profile-link {
  color: $reg-blue;
  margin-right: 5px;
  transition: 325ms;
  font-weight: bold;
}
.header-profile-link:hover {
  transform: scale(1.15);
  color: white;
}