// NavBars

// Variables
$bg: #393939;
$bg-hover: #272727;
$lt-blue: rgb(128, 197, 220);
$reg-blue: rgb(52, 132, 238);
$hover-blue: rgb(21, 82, 161);
$lt-orange: #ffcb6c;
$reg-orange: orange;
$hover-orange: rgb(183, 119, 0);
$errors: rgb(227, 30, 30);
$lightSmoke: rgb(175, 175, 175);



// NavBar
.navbar-container {
  border-right-style: dashed;
  border-right-color: $lightSmoke;
  border-right-width: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: right;
  padding: 5px;
  height: 100vh;
  max-width: 250px;
}
.navbar-list a {
  color: $lightSmoke;
}
.navbar-link li {
  margin-bottom: 15px;
  font-size: 10px;
}



// Splash Header
.header-container-splash {
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 30px 20px;
  padding-top: 5px;
  align-items: center;
}

.header-logo-splash {
  display: inline-block;
  padding: 0px 15px;
  height: 75px;
  font-size: larger;
  line-height: 75px;
  color: #fff;
  text-decoration: none;
  transition: 325ms;
  width: fit-content;
}
.header-logo-splash:hover {
  transform: scale(1.05);
}
.header-icon-splash {
  margin-top: 10px;
  display: inline-block;
  font-size: 50px;
}
.header-logo-letters-splash {
  display: inline-block;
  padding-left: 5px;
  padding-top: 10px;
  font-size: 1.5rem;
  font-weight: 300;
}
.header-logo-letters-overclone-splash {
  font-weight: bold;
  display: inline-block;
  margin-left: 5px;
}

.header-buttons-div-splash {
  padding-left: 2px;
  padding-right: 8px;
}
.login-button {
  margin-top: 10px;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  width: 100px;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  box-shadow: inset 0 0.5px 0 0 white;
  background-color: rgb(211, 232, 239);
  border-color: $reg-blue;
  color: $reg-blue;
  transition: 325ms;
}
.login-button:hover {
  transform: scale(1.15);
  background: $lt-blue;
  color: $reg-blue;
}
.signup-button {
  margin-top: 10px;
  margin-right: 20px;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  width: 100px;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  box-shadow: inset 0 0.5px 0 0 white;
  background-color: $reg-blue;
  border-color: $lt-blue;
  color: white;
  transition: 325ms;
}
.signup-button:hover {
  background: $hover-blue;
  transform: scale(1.15);
}

// Main Header
.header-container {
  background-color: $bg;
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
  display: grid;
  grid-template-columns: 200px 1fr 215px;
  grid-column-gap: 20px;
}

.header-logo {
  display: inline-block;
  padding: 0px 15px;
  height: 50px;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  transition: 325ms;
}
.header-logo:hover {
  background-color: $bg-hover;
}
.header-icon {
  margin-top: 10px;
  display: inline-block;
}
.header-logo-letters {
  display: inline-block;
  padding-left: 5px;
  padding-top: 10px;
  font-size: 1.2rem;
  font-weight: 300;
}
.header-logo-letters-overclone {
  font-weight: bold;
  display: inline-block;
  margin-left: 2px;
}

.header-search-bar {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 9px;
  border-radius: 3px;
  width: 100%;
  border: 1px solid #777;
  padding: 8px 10px;
  background: $bg-hover;
  color: white;
}

.header-buttons-div {
  padding-left: 2px;
  padding-right: 8px;
}

.header-button-left {
  margin-top: 10px;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  width: 50px;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  box-shadow: inset 0 0.5px 0 0 white;
  background-color: rgb(211, 232, 239);
  border-color: $reg-blue;
  color: $reg-blue;
  transition: 325ms;
}
.header-button-left:hover {
  background: $lt-blue;
  color: $reg-blue;
}

.header-button-right {
  margin-top: 10px;
  margin-right: 20px;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  width: 50px;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  box-shadow: inset 0 0.5px 0 0 white;
  background-color: $reg-blue;
  border-color: $lt-blue;
  color: white;
  transition: 325ms;
}
.header-button-right:hover, .header-logout:hover {
  background: $hover-blue;
}

.header-profile-link {
  color: $reg-blue;
  margin-right: 5px;
  transition: 325ms;
  font-weight: bold;
}
.header-profile-link:hover {
  transform: scale(1.15);
  color: white;
}

.header-logout {
  margin-top: 10px;
  // margin-right: 10px;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  width: 50px;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  box-shadow: inset 0 0.5px 0 0 white;
  background-color: $reg-blue;
  border-color: $lt-blue;
  color: white;
  transition: 325ms;
}



// Footer
.footer-container {
  position: fixed;
  left: 0;
  height: 5rem;
  bottom: 0;
  width: 100%;
  background-color: $bg;
  color: $reg-blue;
  text-align: center;
}

.footer-dev-links-container {
  display: flex;
  justify-content: space-around;
}

.footer-dev-info {
  display: inline-block;
  padding: 1px;
  font-weight: 600;
  margin-top: 5px;
}

.dev-link {
  height: 2px;
  transition: 325ms;
}
.dev-link:hover {
  transform: scale(1.25);
}

