// PROFILE -- /components/profile

// Variables
$bg: #393939;
$bg-hover: #272727;
$lt-blue: rgb(128, 197, 220);
$reg-blue: rgb(52, 132, 238);
$hover-blue: rgb(21, 82, 161);
$lightsmoke: var(--light);
$lt-orange: #ffcb6c;
$reg-orange: orange;
$hover-orange: rgb(183, 119, 0);
$errors: rgb(227, 30, 30);
