// QUESTION -- /components/question

// Variables
$bg: #393939;
$bg-hover: #272727;
$question-blue: #3ca4ff;
$lt-blue: rgb(128, 197, 220);
$reg-blue: rgb(52, 132, 238);
$hover-blue: rgb(21, 82, 161);
$link-blue: rgb(0, 189, 252);
$lightsmoke: var(--light);
$lt-orange: #ffcb6c;
$reg-orange: orange;
$hover-orange: rgb(183, 119, 0);
$errors: rgb(227, 30, 30);



// Page Header
.qp-header {
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 30px 20px;
  align-items: center;
}

.pageHeader {
  font-size: 1.8rem;
  margin: 0;
}

.askButton {
  background-color: $reg-blue;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 12px 10px;
  font-style: none;
  transition: 325ms;
}
.askButton:hover {
  background: $hover-blue;
}


// Questions Row
.qi-rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.qr-container {
  margin-top: .5px;
  border-top: 0;
  border-radius: 3px;
  background-color: rgba(255, 255, 255,.05);
  padding: 20px 20px 20px;
  display: grid;
  grid-template-columns: repeat(2, 50px) 1fr;
  box-shadow: 3px 3px 0 rgba(0,0,0,.2);
  transition: 325ms;
  width: 75%;
}
.qr-container:hover {
  border: 1px solid $reg-orange;
  transform: scale(1.025);
}

.qr-stats {
  text-align: center;
  display: inline-block;
  font-size: 1.2rem;
  color: #aaa;
  margin-top: 7px;
}
.qr-statsSpan {
  font-size: .7rem;
  display: block;
  font-weight: 300px;
  margin-top: 4px;
}

.qr-title {
  padding: 0 30px;
}

.qr-titleLink {
  text-decoration: none;
  color: $question-blue;
  font-size: 1.1rem;
  display: block;
  width: fit-content;
  margin-bottom: 5px;
  transition: 325ms;
}
.qr-titleLink:hover {
  cursor: pointer;
  color: $lt-orange;
  font-weight: 500;
}

.question-row-tags {
  display: inline-block;
  margin-right: 5px;
  background-color: #3e4a52;
  color: #9cc3db;
  padding: 5px;
  border-radius: 4px;
  font-size: .8rem;
}

.qr-timeStamp {
  display: flex;
  justify-content: space-between;
  color: #aaa;
  font-size: .8rem;
  padding: 10px 0;
}

.questionTimeStamp {
  display: flex;
  flex-direction: column;
  color: #aaa;
  font-size: .8rem;
  padding: 10px 0;
}



// Question Show
.qs-container {
  padding: 30px 75px;
  margin-bottom: 100px;
}

.qs-title {
  border-bottom: 1px solid rgba(255,255,255, .1);
  padding-bottom: 10px;
  font-size: 1.5rem;
}

.qs-body {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 20px;
}

.qs-other {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.question-show-votes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.qs-voteButtons {
  .voteButton {
    border: 0;
    background: none;
    font-size: 2rem;
    color: #bbb;
    cursor: pointer;
    text-align: center;
    width: 50px;
    padding: 0;
    .upVote {
      width: 0;
      height: 0;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 25px solid $reg-orange;
      padding: 0;
      transition: 325ms;
    }
    .downVote {
      width: 0;
      height: 0;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-top: 25px solid $reg-orange;
      padding: 0;
      transition: 325ms;
    }
    .upVote:hover {
      transform: scale(1.05);
      border-bottom: 25px solid $hover-orange;
    }
    .downVote:hover {
      transform: scale(1.05);
      border-top: 25px solid $hover-orange;
    }
  }
  .totalVotes {
    text-align: center;
    width: 50px;
    padding: 10px 0;
    font-size: 1.5rem;
  }
}

.editButton-container {
  display: flex;
  align-items: flex-end;
}

.editButton {
  background-color: $hover-blue;
  color: $reg-orange;
  border: 2px;
  border-style: groove;
  border-color: $lt-orange;
  border-radius: 5px;
  padding: 10px;
  transition: 325ms;
  margin-bottom: 0;
  margin-bottom: 0;
}
.editButton:hover {
  transform: scale(1.05);
}

.reactMarkdown {
  b, strong {
    font-weight: 700;
  }
  a {
    color: $link-blue;
  }
  a:hover {
    color: $lt-blue;
  };
  p {
    margin-bottom: 10px 0;
    line-height: 1.5rem;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  blockquote, pre {
    margin-top: 5px;
    background-color: rgba(0, 0, 0, .2);
    padding: 15px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 15px;
    width: fit-content;
    line-height: 1rem;
    color: lightgreen;
  }
}

.newQuestion-txt {
  margin-bottom: 5px;
}

.qe-form {
  margin-bottom: 25px;
}



// Questions Form
.qf-container {
  padding: 30px 20px;
  margin-bottom: 100px;
}

.qf-header {
  margin-bottom: 20px;
}

.qf-title {
  background: none;
  border: 1px solid #777;
  border-radius: 3px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
}

.qf-body {
  background: none;
  border: 1px solid #777;
  border-radius: 3px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  color: white;
  min-height: 200px;
  margin-bottom: 20px;
  font-family: inherit;
}

.qf-markdownContainer {
  padding: 10px 20px;
  background-color: #444;
  border-radius: 5px;
  margin-bottom: 20px;
}

.qf-reactMarkdown {
  h1, h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  b, strong {
    font-weight: 700;
  }
  a {
    color: $link-blue;
  }
  a:hover {
    color: $lt-blue;
  };
  p {
    margin-bottom: 10px 0;
    line-height: 1.5rem;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  blockquote, pre {
    margin-top: 5px;
    background-color: rgba(0, 0, 0, .2);
    padding: 15px;
    border-radius: 5px;
    font-family: monospace;
    width: fit-content;
    font-size: 15px;
    line-height: 1rem;
    color: lightgreen;
  }
}

.qf-submitButton {
  background-color: #378ad3;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 12px 10px;
  font-style: none;
  transition: 325ms;
}
.qf-submitButton:hover {
  background-color: rgb(21, 82, 161);
  cursor: pointer;
}



// Question Index
.qi-container {
  margin-bottom: 100px;
}



// Question Edit
.qe-container {
  padding: 15px 75px;
  margin-bottom: 100px;
  .qf-container {
    margin-bottom: 10px;
  }
}

.qe-body {
  margin-top: 25px;
}

.deleteButton-container {
  margin-top: 10px;
}

.deleteButton {
  background-color: $hover-blue;
  color: $reg-orange;
  border: 2px;
  border-style: groove;
  border-color: $lt-orange;
  border-radius: 5px;
  padding: 10px;
  transition: 325ms;
  margin-bottom: 0;
}
.deleteButton:hover {
  transform: scale(1.05);
  cursor: pointer;
}

