// Questions



// Questions Index
.questions-index-header-container {
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 30px 20px;
}

.questions-header {
  font-size: 1.8rem;
}

.questions-index-AskQuestion-btn {
  background-color: #378ad3;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 12px 10px;
  font-style: none;
  transition: 325ms;
}
.questions-index-AskQuestion-btn:hover {
  background: rgb(21, 82, 161);
}



// Questions Form
.question-form-container {
  padding: 30px 20px;
}

.question-form-title {
  background: none;
  border: 1px solid #777;
  border-radius: 3px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
}

.question-form-body {
  background: none;
  border: 1px solid #777;
  border-radius: 3px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  color: white;
  min-height: 200px;
}



// Questions Row
.questions-row-container {
  background-color: rgba(255, 255, 255,.05);
  padding: 15px 15px 10px;
  display: grid;
  grid-template-columns: repeat(3, 50px) 1fr;
  border-top: 1px solid #555;
}

.questions-row-stats {
  text-align: center;
  display: inline-block;
  font-size: 1.2rem;
  color: #aaa;
  margin-top: 7px;
}
.questions-row-stats-span {
  font-size: .7rem;
  display: block;
  font-weight: 300px;
  margin-top: 4px;
}

.questions-row-title {
  padding: 0 30px;
}

.questions-row-question-link {
  text-decoration: none;
  color: #3ca4ff;
  font-size: 1.1rem;
  display: block;
  margin-bottom: 5px;
}

.questions-row-tag {
  display: inline-block;
  margin-right: 5px;
  background-color: #3e4a52;
  color: #9cc3db;
  padding: 7px;
  border-radius: 4px;
  font-size: .9rem;
}

.questions-row-author-timestamp {
  display: inline-block;
  color: #aaa;
  font-size: .8rem;
  padding: 10px 0;
}

.questions-row-author-link {
  color: #3ca4ff;
}

