// Session



// Signup Form
.sf-container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sf-header {
  font-size: 27px;
  font-weight: 400;
  line-height: 1;
  margin: 5px 0px;
}

.sf-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  margin-top: 24px;
}

.sf-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: gray;
  padding: 24px;
  width: 316px;
  height: 480px;
  margin-top: 55px;
  margin-bottom: 24px;
  border-radius: 7px;
}

.sf-login-button {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: center;
    -ms-flex-pack: center;
      justify-content: center;
}



// Login Form
.login-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lf-logo {
  margin-bottom: 1.5rem;
}

.demoLogin-btn {
  height: 2.5rem;
  width: 15rem;
  padding: 5px;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: white;
}
.demoLogin-btn:hover {
  background-color: rgb(208, 208, 208);
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--light);
  border-radius: 5px;
  color: var(--dark);
  font: var(--mainFont);
  font-weight: 600;
  padding: 20px;
  height: 10rem;
  width: 15rem;
}
