// Splash Page



// Vars
$outer-border: var(--light);
$inner-border: #ffcb6c;
$inner-btn: orange;
$inner-btn-hvr: rgb(183, 119, 0);

.splashpage-outer-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: $outer-border;
  color: var(--dark);
  width: 75%;
  height: 75%;
  margin: auto;
}

.splashpage-inner-border {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: $inner-border;
  color: var(--dark);
  width: 75%;
  height: 75%;
  margin: auto;
  transition: 325ms;
}
.splashpage-inner-border:hover {
  transform: scale(1.15);
}

.splashpage-inner-header {
  display: flex;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10rem;
}

.splashpage-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  border-radius: 5px;
  height:2rem;
  width: 65%;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  background-color: $inner-btn;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-bottom: 5rem;
  transition: 325ms;
}
.splashpage-signup:hover {
  background-color: $inner-btn-hvr;
  transform: scale(1.15);
}
