/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@300;700&display=swap");

/* Variabls */
:root {
  --mainBackground: #2d2d2d;
  --mainColor: #fff;
  --mainFont: Roboto, sans-serif;
  --dark: hsl(210,8%,5%);
  --light: whitesmoke;
  --reg-blue: rgb(52, 132, 238);
  --link-blue: rgb(0, 189, 252);
  --errors: rgb(231, 68, 68);
}


/* Main Page */
body {
  background: var(--mainBackground);
  color: var(--mainColor);
  font-family: var(--mainFont);
}

input, textarea {
  outline-color: var(--reg-blue);
}


/* Errors */
.errors {
  font-size: smaller;
  margin-top: 5px;
  color: var(--errors);
  margin-bottom: 50px;
  font-weight: bolder;
}

.errors p {
  margin-bottom: 5px;
}

