.header-container {
  background-color: #393939;
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
  display: grid;
  grid-template-columns: 215px 1fr 200px;
  grid-column-gap: 20px;
}

.header-logo {
  display: inline-block;
  padding: 0px 15px;
  height: 50px;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
}
svg {
  display: inline-block;
  margin-top: 7px;
}
span {
  display: inline-block;
  padding-left: 5px;
  padding-top: 10px;
  font-size: 1.2rem;
  font-weight: 300;
}
b {
  font-weight: bold;
  display: inline-block;
  margin-left: 2px;
}

.search-bar {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 9px;
  border-radius: 3px;
  width: 100%;
  border: 1px solid #777;
  padding: 8px 10px;
  background: rgba(0,0,0,.1);
  color: white;
}

.headerButtons-nav {
  padding-left: 2px;
  padding-right: 8px;
}

.headerButtons-login {
  margin-top: 7px;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  display: grid;
  width: 50px;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  box-shadow: inset 0 0.5px 0 0 white;
  background-color: rgb(180, 223, 238);
  border-color: rgb(52, 132, 238);
  color: rgb(52, 132, 238);
  float: left;
}

.headerButtons-signup {
  margin-top: 7px;
  margin-right: 20px;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  display: grid;
  width: 50px;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  box-shadow: inset 0 0.5px 0 0 white;
  background-color: rgb(52, 132, 238);
  border-color: rgb(128, 197, 220);
  color: white;
  float: right
}

.headerButtons-login:hover {
  background: rgb(157, 209, 226);
  color: rgb(52, 132, 238);
}

.headerButtons-signup:hover {
  background: rgb(46, 115, 200);
}