.signup-container {
  display: flex;
  width: 25rem;
  margin-top: 14.4rem;
  padding: .6rem
}

.signup-page-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.signup-page-logo {
  font-size: 40px;
}
